<?xml version="1.0"?>
<config>
    <modules>
        <Spacemariachi_Estafeta>
            <version>0.9.0</version>
        </Spacemariachi_Estafeta>
    </modules>
    <global>
        <models>
            <spacemariachi_estafeta>
                <class>Spacemariachi_Estafeta_Model</class>
                <resourceModel>spacemariachi_estafeta_resource</resourceModel>
            </spacemariachi_estafeta>
            <spacemariachi_estafeta_resource>
                <class>Spacemariachi_Estafeta_Model_Resource</class>
            </spacemariachi_estafeta_resource>
        </models>
        <helpers>
            <spacemariachi_estafeta>
                <class>Spacemariachi_Estafeta_Helper</class>
            </spacemariachi_estafeta>
        </helpers>
    </global>
    <default>
        <carriers>
            <estafeta>
                <active>1</active>
                <model>spacemariachi_estafeta/carrier_estafeta</model>
                <title>Estafeta</title>
                <name>Estafeta</name>
                <price>4.00</price>
                <specificerrmsg>Este método de envío no está disponible por el momento, ponte en contacto con nosotros.</specificerrmsg>
                <sort_order>10</sort_order>
            </estafeta>
        </carriers>
    </default>
</config>