<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <carriers>
            <groups>
                <estafeta translate="label" module="spacemariachi_estafeta">
                    <label>Estafeta Shipping Module</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>99</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <debug>
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificerrmsg>
                        <price>
                            <label>Precio por pieza</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <tooltip>Aquí puedes poner el precio de envio por pieza</tooltip>
                            <can_be_empty>0</can_be_empty>
                            <validate>required-entry</validate>
                            <validate>validate-number</validate>
                        </price>
                        <free_shipping_enable translate="label">
                            <label>Free Shipping with Minimum Order Amount</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </free_shipping_enable>
                        <free_shipping_subtotal translate="label">
                            <label>Minimum Order Amount for Free Shipping</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>1220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </free_shipping_subtotal>
                        <free_shipping translate="label">
                            <label>Minimum Order Amount for Free Shipping</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>1220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </free_shipping>

                        <id_usuario>
                            <label>User identifier</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-greater-than-zero</validate>
                            <sort_order>1240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Id del usuario con el que se realizará la consulta a la base de datos.</comment>
                        </id_usuario>
                        <usuario>
                            <label>User</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Usuario con el que se realizará la consulta a la base de datos.</comment>
                        </usuario>
                        <password>
                            <label>User identifier</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>1260</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Contraseña del usuario con el que se realizará la consulta a la base de datos.</comment>
                        </password>
                        <es_frecuencia>
                            <label>Es frecuencia</label>
                            <sort_order>1270</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Indica si los resultados de salida son solo frecuencia o devolverá solo frecuencia + cotización</comment>
                        </es_frecuencia>
                        <cotizar>
                            <label>Indica que datos mostrar en la cotizacion</label>
                            <sort_order>1280</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>spacemariachi_estafeta/system_config_source_cotizar</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Indica si es un sobre o paquete</comment>
                        </cotizar>
                        <peso>
                            <label>Peso ficticio para usar en cotizacion</label>
                            <sort_order>1290</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number validate-greater-than-zero</validate>
                            <comment>Debe ser mayor que 0</comment>
                            <depends>
                                <cotizar>1</cotizar>
                            </depends>
                        </peso>
                        <largo>
                            <label>Largo ficticio para usar en cotizacion</label>
                            <sort_order>1300</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number validate-greater-than-zero</validate>
                            <comment>Debe ser mayor que 0</comment>
                            <depends>
                                <cotizar>1</cotizar>
                            </depends>
                        </largo>
                        <alto>
                            <label>Alto ficticio para usar en cotizacion</label>
                            <sort_order>1310</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number validate-greater-than-zero</validate>
                            <comment>Debe ser mayor que 0</comment>
                            <depends>
                                <cotizar>1</cotizar>
                            </depends>
                        </alto>
                        <ancho>
                            <label>Ancho ficticio para usar en cotizacion</label>
                            <sort_order>1320</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number validate-greater-than-zero</validate>
                            <comment>Debe ser mayor que 0</comment>
                            <depends>
                                <cotizar>1</cotizar>
                            </depends>
                        </ancho>
                        <guia_aut>
                            <label>Genaracion de guia al momento de creacion del pedido</label>
                            <sort_order>1330</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </guia_aut>
                        <quadrant>
                            <label>Cuadrante de inicio de impresión de guías.</label>
                            <sort_order>1340</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number validate-greater-than-zero va</validate>
                            <comment>1-4 – impresora láser. Solo aplica cuando paperType sea 3.</comment>
                        </quadrant>
                        <suscriber_id>
                            <label>Número de suscriptor de Servicio.</label>
                            <sort_order>1350</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </suscriber_id>
                        <paper_type>
                            <label>Tipo de papel para impresión de la guía.</label>
                            <sort_order>1360</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>spacemariachi_estafeta/system_config_source_papertype</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <tooltip><![CDATA[<div style="border-radius:6px;padding:10px;margin-left:10px;width:230px;">1 - Papel Bond Tamaño Carta
                                    <p>En esta modalidad la cara de la hoja es
                                    dividida en 2 secciones, en una de ellas se
                                    imprime la guía y en la otra se imprime el
                                    contrato de la guía.
                                    Requiere impresora Láser.</p>
                                    <p>2 - Papel Etiqueta Térmica de 6 x 4 pulgadas
                                    En esta modalidad la guía se imprime en la
                                    Etiqueta térmica (no se imprime contrato de
                                    la guía)
                                    Requiere impresora Térmica.</p>
                                    <p>3 - Plantilla Tamaño Oficio de 4 Etiquetas
                                    En esta modalidad la plantilla está dividida
                                    en 4 cuadrantes donde cada uno es una
                                    etiqueta desprendible en la cuál se imprime
                                    la guía. Se debe definir un valor para el
                                    campo quadrant para indicar en que número
                                    de cuadrante se va a iniciar la impresión de
                                    las guías (no se imprime contrato de la guía)</p>
                                    </div>
                                    ]]>
                            </tooltip>
                            <comment>Poner cursor sobre el signo de ? para mas información</comment>
                        </paper_type>
                        <origin_zip>
                            <label>Código postal del domicilio destino del envío.</label>
                            <sort_order>1350</sort_order>
                            <frontend_type>text</frontend_type>
                            <validate>validate-zip</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </origin_zip>
                        <history_type>
                            <label>Tipo de historial a mostrar en tracking.</label>
                            <sort_order>1360</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>spacemariachi_estafeta/system_config_source_historytype</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <tooltip><![CDATA[<div style="border-radius:6px;padding:10px;margin-left:10px;width:230px;">
                                    <p>ALL – todos los movimientos</p>
                                    <p>ONLY_EXCEPTIONS – Sólo los movimientos que tengan excepción</p>
                                    <p>LAST_EVENT – Sólo el último movimiento para envíos que aún no estén confirmados</p>
                                    </div>
                                    ]]>
                            </tooltip>
                            <comment>Poner cursor sobre el signo de ? para mas información</comment>
                        </history_type>
                        <locale>
                            <label>Idioma de detalles de status.</label>
                            <sort_order>1370</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>spacemariachi_estafeta/system_config_source_locale</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </locale>
                    </fields>
                </estafeta>
            </groups>
        </carriers>
    </sections>
</config>